* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #be3144;
}

ul {
  display: flex;
  justify-content: end;
  padding-right: 30px;
}

ul > li {
  list-style: none;
  padding: 20px;
}
ul > li:hover {
  background-color: rgb(62, 62, 140);
}
li > a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.8px;
}
#about{
    background-color: #2f3134;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about > h1{
    font-family: 'Raleway, sans-serif';
    font-size: 60px;
    font-weight: 700;
    line-height: 84px;
}
#about > p{
    font-family: 'Poppons, sans-serif';
    font-size: 30px;
    font-weight: 300;
    line-height: 42px;
    color: #832640;
}
